@define-color bg #24283b;
@define-color fg #c0caf5;
@define-color fgdark #a9b1d6;
@define-color blue #7aa2f7;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, JetBrainsMono Nerd Font Mono;
  font-size: 15.5px;
  font-weight: 500;
}

window#waybar {
  background-color: transparent;
  color: @fg;
  transition-property: background-color;
  transition-duration: 0.2s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
}

#workspaces button {
  padding: 0px 4px;
  margin-bottom: 4px;
  background-color: @bg;
  color: @fg;
  border-radius: 4px;
}

#workspaces button.active {
  color: @bg;
  background-color: @blue;
}

.modules-right .module {
  margin-bottom: 4px;
  padding: 0 6px;
  border-radius: 8px;
  color: @fg;
  background-color: @bg;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > .module {
  margin-left: 4px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > .module {
  margin-right: 4px;
}

#clock {
  min-width: 70px;
}
#language {
  min-width: 120px;
}

#mpris.playing {
  color: @bg;
  background-color: @blue;
}
